/********
Base
********/
.datetimepicker.datetimepicker-dropdown-bottom-right.dropdown-menu {
    padding: 0 !important;
    margin: 0 !important;
}
th.prev, th.next, th.switch {
    background: #224d95;
    color: white;
    border-radius: 0 !important;
    visibility: visible !important;
}
th.dow {
    background: #173971;
    color: white;
    border-radius: 0 !important;
}
.datetimepicker thead tr:first-child th:hover, .datetimepicker tfoot th:hover {
    background: #173971 !important;
    transition:.2s;
}
td.day.active, span.month.active, span.year.active, span.hour.active, span.minute.active {
    background: #fee000 !important;
    color: black !important;
}
#table-emails-sents {
    margin: 0 !important;
}
.row.padding {
    padding: 0 35px;
}
#btn-search .email {
    width: 30%;
    padding: 9px;
}
#files-cloned {
    padding: 0 20px;
    margin-bottom: -20px;
}
.col-md-6.col-sm-9.padding-off {
    padding: 0;
}
@font-face
{
   font-family: 'Emtelco';
   src: url("../fonts/VAGRounded.ttf");
}
input.size-search {
    width: 316px !important;
}
button#blocked {
    border: none;
    background: #cde0ff;
}
button.btn.btn-search.mm {
    margin-top: -18px;
}
.form-group.mform {
    margin-top: -19px;
}
button#btn-register {
    margin-top: 25px !important;
}
body{
    font-family: 'Emtelco';
}
.search3{
    height: 30px !important;
    width:100%;
}
label.labels {
    margin-left: 15px !important;
    margin-right: 5px !important;
}
.green{
    color:green;
}
.red{
    color:red;
}
.bold{
    font-weight: 600;
}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    z-index: 2;
    color: #000;
    background-color: #f2d500;
    border-color: #f2d500;
}
img.murci {
    position: absolute;
    right: 0;
    width: 270px;
    margin: 20px;
}
ul#list_attachment a {
    color: #7d7d7d;
}
ul#list_attachment a:hover {
    color: #d9534f;
    text-decoration: none;
    transition: .2s;
}
ul.custom-radio {
    margin: 0;
    padding: 0;
    display: inline-block;
}
ul.custom-radio>li {
    float: left;
    margin: 10px;
    text-align: center;
    list-style: none;
}
ul.custom-radio input {
    display: none;
}
ul.custom-radio img.img-option {
    height: 70px;
}

hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}
/********
Contenedores
********/
.card{
     width: 500px;
    background: rgba(0, 0, 0, 0.29);
    padding: 20px 40px;
    text-align: center;
    color: white;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.22);
}
.container-login {
    position: absolute;
    bottom: 70px;
    text-align: center;
    left: 30px;
}
.navbar-inverse .navbar-nav>li>a {
    color: #ececec;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #17315a;
}
hr#line-login {
    margin-top: 5px;
    margin-bottom: 5px;
}
::placeholder { color: white; }
.container_general{
    width: 100%;
    margin: auto;
    padding: 20px 50px;
    margin-bottom: 120px;
}
table {
    width: auto !important;
    margin-left:-20px;
}
div#table_wrapper {
    margin-left: -29px !important;
}
.list-group-item {
    width: 95%;
}

.form-control {
    height: 40px;
}
.btn-success {
    color: #000;
    background-color: #ffde00;
    border-color: #ffde00;
}
.btn-success:hover, .btn-success:focus, .btn-success:active {
    color: #000;
    background-color: #e2c500 !important;
    border-color: #e2c500 !important;
    outline: none !important;
}
.btn-eliminar, .btn-info {
    color: #000;
    background-color: #e2c500;
    border-color: #e2c500;
}
.btn-eliminar, .btn-info:hover, .btn-info:focus, .btn-info:active {
    color: #000;
    background-color: #cbb100 !important;
    border-color: #cbb100!important;
    outline: none !important;
}
img {
    margin-right: 5px;
}
table#table-cases, table#table-tasks, table#table-managements, table#table-accounts, table#table-categorizations-in, table#table-categorizations-out {
    width: 100% !important;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    margin-left: 0px;
}
table#table-cases>tbody, table#table-accounts>tbody, table#table-categorizations-in>tbody, table#table-categorizations-out>tbody  {
    width: 100%;
    display: table;
}
table#table-managements {
    display: table;
}

.tab-pane{
    padding-top: 5px;
}
/*  bhoechie tab */
div.bhoechie-tab-container{
  z-index: 10;
  background-color: #ffffff;
  padding: 0 !important;
    width: 100%;
}
div.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
  color: #fee000;
}


input#account_id {
    height: 30px;
}
button.btn.btn-login.fff {
    margin-top: 22px;
}
input.form-control.search2 {
    width: 82%;
   	height: 34px;
    float: left;
    border-radius: 5px 0 0 5px;
}
.col-sm-4.column.serc {
    margin-top: 24px;
}



.label-danger {
    color: red;
    background-color: rgba(136, 7, 3, 0);
    top: -11px !important;
    left: 16px;
    position: relative;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}

label.acount {
    padding: 8px 20px;
}

button.btn.btn-search {
    border-radius: 0 5px 5px 0;
    margin-left: 0px;
    background: #fee000;
}

button.btn.btn-agregar {
    margin-bottom: 5px;
    background: #fee000;
}

button.btn.btn-ingresar {
    background: #fee000;
}

button.btn.btn-search:hover, button.btn.btn-search:focus, button.btn.btn-search:active {
    border-radius: 0 5px 5px 0;
    background: #ecce00;
}

.row.form-container {
    padding-right: 30px;
}

.row.form-container.a {
    background-color: #ffffff;
}

.row.form-container.b {
    background-color: #eeeeee;
}

div.bhoechie-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
  background-color: #fee000;
  color: black;
    border: none;
}
div.bhoechie-tab-menu div.list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #fee000;
}

div.bhoechie-tab-content{
  background-color: #ffffff;
}
div.bhoechie-tab div.bhoechie-tab-content:not(.active){
  display: none;
}


.message{
    width: 94%;
    height: 630px;
    float:right;
    background:white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    padding: 30px;
    resize: both;
    overflow: auto;
}
.icon{
    width: 25px;
    margin-top: 6px;
    transform: rotate(50deg);
}
.icon-ms{
    width: 15px;
    margin-top: 6px;
    transform: rotate(50deg);
}
.btn-margin {
    margin-top: 25px;
}

/********
Fondos
********/
#bg_login{
    background-image: url(../images/bg_login.jpg);
    position: fixed;
    background-position: 100%;
    bottom: 30px;
    height: 100%;
    width: 100%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    z-index: -1;
}
#bg_home{
    background-image: url(../images/bg2_login.png);
    position: fixed;
    top: 100px;
    height: 100%;
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    z-index: -1;
}
.banner_title10{
    background-image: url(../images/banner_title10.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50%;
    height: 200px
}
.new{
    margin-top: 22px;
}
.sub-body {
    margin-bottom: 50px;
}
.new a{
    color: #7c7c7c;
}
/********
Menú
********/
.navbar {
    border-radius: 0;
    margin-bottom: 0;
    left: 0;
    right: 0 !important;
    box-shadow:  0px 4px 10px 1px rgba(0, 0, 0, 0.27);
}
.navbar-inverse {
    background-color: #173971;
    border-color: #173971;
}
.logos{
    float: left;
}

.select{
    padding: 7px;
    margin-top: 0px;
}

.btn-tipi {
    float: right;
}

.btn-tipi{
    margin-left: 10px;
}

div#modal-categorization {
    background: rgba(0, 0, 0, 0.45);
}

.search{
    width: 70%;
    float: left;
    border-radius: 5px 0 0 5px
}
.custom-search{
    width: 100%;
    border-radius: 5px 0 0 5px
}
.custom-search .search{
    width: 60%;
}
.custom-pagination {
    display: inline-block;
    padding-left: 0;
    margin: 10px 0;
    border-radius: 4px;
}

header {
    border-color: rgba(231, 231, 231, 0);
    background-color: #224d95;
    box-shadow:  0px 4px 10px 1px rgba(0, 0, 0, 0.27);
    height: 110px;
}
.clearfix.clear2{
    background: #224d95 !important;
}
.marginBottom-0 {margin-bottom:0;}

.dropdown-submenu{
    position:relative;
}
.dropdown-submenu>.dropdown-menu{
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu>a:after{
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after{
    border-left-color:#555;
}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}
.dropdown-menu .divider {
    background-color: #f5f5f5;;
}
.logo{
    height: 140px;
}
.line{
    height: 10px;
    background: #fee000;
    text-align: right;
}
/********
Form
********/
.form-control{
    height: 40px;
}
input.form-control.search {
    height: 34px;
    margin-bottom: 15px;
}
.min100 {
    min-height: 100px;
}

input.form-control, select.form-control, textarea.form-control{
    border: none;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    font-size: 15px !important;
}

.modal-header {
    background: antiquewhite;
    text-align: center;
}

.modal-header {
    padding: 8px;
    border-bottom: 1px solid #e5e5e5;
}

input.form-control:hover, select.form-control:hover, textarea.form-control:hover, input.form-control:active, select.form-control:active, textarea.form-control:active, input.form-control:focus, select.form-control:focus, textarea.form-control:focus{
    border: none;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.7);
    font-size: 15px !important;
}
input[type="checkbox"]{
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 2px solid rgba(192, 192, 192, 0.60);
    border-radius: 10px;
    width: 20px;
    height: 20px;
}
input[type="checkbox"]:checked{
    background:#fee000;
    border-color: #fee000;
    outline: none;
    width: 20px;
    height: 20px;
}

input[type="checkbox"]:active, input[type="checkbox"]:focus{
    outline: none;
}

/********
Pie de Pàgina
********/
.footer{
    background: black;
    color: white;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 99;   
}
footer{
    padding: 5PX;  
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.38);
}

/********
Color
********/
span.blue{
    color: red; 
}

.error {
    color:red;
}

/********
Botones
********/
button.btn.btn-default {
    background: #f2d500;
    border: none;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.26);
    border-radius: 0 5px 5px 0 !important;
}
.btn-login {
    color: #333;
    background-color: #fee000;
    border-color: #fee000;
    width: 100%;
}
.btn-login:hover, .btn-login:active, .btn-login:focus {
    color: #333;
    background-color: #ead400;
    border-color: #ead400;
}
.boton-header{
    padding: 15px;
    background: white;
    line-height: 50px;
    margin: 10px;
    color: black;
    border-radius: 5px
}
.boton-header:hover, .boton-header:focus, .boton-header:active{
    background: linear-gradient(to right, white , #eaeaea);
    color: black;
    text-decoration: none;
}
.user{
    color: white;
    font-size: 18px;
    margin: 20px 10px;
}
span.glyphicon.glyphicon-remove {
    color: red !important;    
}
span.glyphicon.glyphicon-remove.btn-remove {
    display: flex;
    margin-top: 35px;
    font-size: 20px;
    cursor: pointer;
    touch-action: manipulation;
}


/********
Tablas
********/
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: rgba(34, 77, 149, 0.07);
}
.delete_message{
    width: 60px;
    text-align: center;
}
.table-hover>tbody>tr:hover {
    background-color: #fffce0 !important;
}

/********
Responsive
********/
@media only screen and (max-width : 2500px) {
    #bg_base{
        background-image: url(../images/bg5.png);
        position: fixed;
        bottom: 20px;
        height: 100%;
        width: 100%;
        background-size: auto 100%;
    }
}
@media only screen and (max-width : 1950px) {
    #bg_base{
        background-image: url(../images/bg5.png);
        position: fixed;
        bottom: 20px;
        height: 100%;
        width: 100%;
        background-size: auto 100%;
        
    }
    #bg_login, #bg_home{
        background-size: 100%;
        background-position: 100%;
    }
    .logo{
        height: 110px;
        margin: 0px 0;
    }
}
@media only screen and (max-width : 1100px) {
    input.btn.btn-base {
        margin: 20px 0;
    }
    .banner_title{
        height: 150px;
    }
    .message {
    width: 88%;
    margin-top: 6px;
    height: 630px;
    float: right;
    background: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    padding: 30px;
    resize: both;
    overflow: auto;
}
}

@media only screen and (max-width : 900px) {
   
    
    
    #bg_login, #bg_home{
        background-size: auto 100%;
        background-position: 97%;
    }
    .container-login{
        position: relative;
        bottom: 0px;
        left:  0px;
    }
    .container-login h2{
        margin-left: 20px;
    }
    .card{
        width: 90%px;
        padding: 20px 40px;
        text-align: center;
        border-radius: 5px;
        margin: 5% auto;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.38);
    }
}
@media only screen and (max-width : 1100px) {
    
    .info-header{
        width: 100%;
        height: auto;
    }
    .boton-header{
    padding: 10px;
    line-height: 20px;
    margin: 0px;
    text-align: center;
    float: left;
    width: 50%;
    }
    .user{
        color: white;
        font-size: 18px;
        margin: 0px 10px;
    }
}

@media only screen and (max-width : 700px) {
    
    .logos .logo, .info-header{
        width: 100%;
        height: auto;
    }
    .boton-header{
    padding: 10px;
    line-height: 20px;
    margin: 0px;
    text-align: center;
    float: left;
    width: 50%;
    }
    .user{
        color: white;
        font-size: 18px;
        margin: 0px 10px;
    }
}
@media only screen and (max-width : 600px) {
    
    .container_general{
        width: 100%;
        padding: 25px;
    }
}
@media only screen and (max-width : 450px) {
   .card{
        width: 100%;
        padding: 20px 40px;
        text-align: center;
        border-radius: 5px;
        margin: 15px auto;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.38);
    }
    .btn-base{
        width: 100%;
    }
    
    button.navbar-toggle.collapsed, button.navbar-toggle {
        margin: 23px 5px;
    }
}